

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background:#efefef;
    color:#222;
}



.hero{
    background:#9f1d20;
    color:white;
    padding:40px 40px 100px;
    position:relative;
    overflow:hidden;
}

.hero::after{
    content:"";
    position:absolute;
    bottom:0;
    right:0;
    width:0;
    height:0;
    border-left:140px solid transparent;
    border-bottom:140px solid #efefef;
}

.hero-container{
    max-width:1000px;
    margin:20px auto 0;
    padding:0 20px;
}

.hero-logo img{
    width:160px;
    margin-bottom:10px;
}

.hero-title{
    font-size:74px;
    font-weight:800;
    margin-bottom:-10px;
}

.hero-subtitle{
    font-size:30px;
    margin-bottom:30px;
    color:#000000;
    font-weight:800;
}

.hero-text{
    max-width:100%;
    line-height:1.7;
    margin-bottom:20px;
    font-size:18px;
}

.main-content{
    max-width:1000px;
    margin:auto;
    padding:60px 20px 0 20px;
}

.section-title{
    display:flex;
    align-items:center;
    gap:12px;
    font-size:60px;
    font-weight:900;
    margin-bottom:35px;
}

.section-title img{
    width:24px;
}

.club-section{
    margin-bottom:80px;
}

.club-list{
    display:flex;
    justify-content:space-between;
    flex-wrap:wrap;
}

.club-item{
    text-align:center;
    width:15%;
}

.club-item img{
    width:100px;
    margin-bottom:15px;
}

.club-item p{
    color:#c31d21;
    font-weight:900;
    font-size:20px;
}

.club-item span{
    font-size:16px;
    font-weight: 900;
    color:#333;
}


.footer-banner{
    background:#9f1d20;
    color:white;
    padding:70px 40px;
    margin-top:80px;
    position: relative;
    overflow: hidden;
}

.footer-banner::after{
    content:"";
    position:absolute;
    bottom:0;
    right:0;
    width:0;
    height:0;
    border-left:140px solid transparent;
    border-bottom:140px solid #efefef;
}

.footer-container{
    max-width:1000px;
    margin:auto;
    padding:0 20px;
}

.footer-banner h2{
    font-size:46px;
    font-weight:800;
    max-width:800px;
    line-height:1.5;
}

